page-choose-payment {
.splash-bg {
    position: relative;
    background: url('../assets/img/scenary.jpg') no-repeat transparent;
    background-size: cover;
    height: 100%;
    z-index: 1;
    animation: animatedBackground 40s linear infinite;
  }
.parent-card{
        background: rgba(232,232,232,0.9);
        width:80%;
        margin: auto;
        margin-bottom: 20px;
        ion-item{
                box-shadow: 1px 1px 2px #aaa;
                margin: 5px 0;
        }
    }
    .social-button{
        width:230px;
    }
    .main-container{
        width: 300px;
        display: block;
        margin: auto;
    }
    .payment-method{
        width:70px;
        height:70px;
        display: block;
        margin: auto;
        border: 2px solid gray;
        ion-icon{
            font-size: 50px;
            line-height: 65px;
        }
        .active{
            color: green;
        }
        &.selected{
            border-color: #387ef5;
            ion-icon{
                color:#387ef5;
            }
            transform: scale(1.1);
        }
    }
    .submit-button{
        min-width: 100px;
    }
}
