<ion-content class="no-header" [ngStyle]="{'background-image': 'url('+preferences?.background+')'}">
  <div class="bg-overlay">
  <ion-grid>
    <ion-row center style="height:70px">
      <ion-col width-50 class="text-large">
        <button ion-button icon-only round color="light" (click)="goBack()" style="width:45px">
            <ion-icon name="ios-arrow-back"></ion-icon>
            </button>
      </ion-col>
      <ion-col width-50 class="light text-right padding-right-15">
        <span class="text-large bold">Choose Payment</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="parent-card">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="text-large gray">
            Choose your payment mode
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-20>

          </ion-col>
          <ion-col>
            <div class="payment-method text-center" (click)="selectMethod('phone')" [ngClass]="{'selected':paymentMethod=='phone'}">
              <ion-icon name="ios-phone-portrait"></ion-icon>
            </div>
          </ion-col>
          <ion-col>
            <div class="payment-method text-center" (click)="selectMethod('card')" [ngClass]="{'selected':paymentMethod=='card'}">
              <ion-icon name="ios-card"></ion-icon>
            </div>
          </ion-col>
          <ion-col width-20>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="text-center">
            <button ion-button color="primary" class="submit-button" (click)="proceed()">Continue</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>