<ion-content class="no-header">
  <div class="bg-overlay">
  
  <ion-grid>
    <ion-row center style="height:70px">
      <ion-col width-50 class="text-large">
        <button ion-button icon-only round color="light" (click)="goBack()" style="width:45px">
            <ion-icon name="ios-arrow-back"></ion-icon>
            </button>
      </ion-col>
      <ion-col width-50 class="light text-right padding-right-15">
        <span class="text-large bold">Choose Payment</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="parent-card">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="text-large gray">
            Choose your phone network
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-20>

          </ion-col>
          <ion-col>
            <div class="network text-center" (click)="selectNetwork(1)" [ngClass]="{'selected':network==1}">
              <img src="assets/img/airtel.png" class="full-width">
            </div>
          </ion-col>
          <ion-col>
            <div class="network text-center" (click)="selectNetwork(2)" [ngClass]="{'selected':network==2}">
              <img src="assets/img/mtn.png" class="full-width">
            </div>
          </ion-col>
          <ion-col width-20>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="text-center">
            <button ion-button color="primary" class="submit-button" (click)="enterPhone()">Continue</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>