<ion-content class="no-header" [ngStyle]="{'background-image': 'url('+book.book_bg+')'}">
  <div class="bg-overlay padding-top-0" [ngStyle]="{'height':devHeight+'px'}">

    <ion-grid>
      <ion-row center style="height:70px">
        <!--<ion-col width-10 class="text-large text-center">
          <button ion-button icon-only (click)="goBack()" class="transparent-bg">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </button>
        </ion-col>-->
        <ion-col width-50 class="text-large bold light book-title padding-bottom-10" (click)="goBack()">
          {{book.book_title}}
        </ion-col>
        <ion-col class="relative">
          <ion-fab style="top: -20px;right:10px">
            <button ion-fab color="searchPink">
              <ion-icon name="search"></ion-icon>
            </button>
            <ion-fab-list side="left">
              <ion-list class="margin-bottom-0">
                <ion-item class="transparent-bg light">
                  <ion-input placeholder="Search" [ngStyle]="halfWidth" (keyup)="getItems($event)" [(ngModel)]="randomlesson"></ion-input>
                </ion-item>
                <ion-list *ngIf="showResults" [ngStyle]="searchResults">
                  <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
                    <ion-avatar item-left *ngIf="item.pic">
                      <!--<img [src]="item?.pic" />-->
                      <lazy-img [src]="item?.pic"></lazy-img>
                    </ion-avatar>
                    <h2>{{item?.name}}</h2>
                    <p>{{item?.about}}</p>
                    <ion-note item-right *ngIf="item.category">{{item.category}}</ion-note>
                  </button>
                </ion-list>
              </ion-list>
            </ion-fab-list>
          </ion-fab>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card class="parent-card" *ngIf="lsections && lsections.length">
      <ion-card-content class="padding-0">
        <ion-grid>
          <ion-row>
            <ion-col width-66 [ngStyle]="contentScroll">
              <div *ngFor="let section of lsections; let i = index">
                <ion-row *ngIf="section.mediaURI; let i = index">
                  <ion-col>
                    <vg-player (onPlayerReady)="onPlayerReady($event)">
                      <vg-overlay-play></vg-overlay-play>
                      <vg-buffering></vg-buffering>
                      <vg-controls>
                        <vg-play-pause></vg-play-pause>
                        <!--<vg-playback-button></vg-playback-button>-->

                        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                        <vg-scrub-bar [vgSlider]="true">
                          <vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>
                          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                        </vg-scrub-bar>

                        <!--<vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>-->

                        <!--<vg-track-selector></vg-track-selector>-->
                        <vg-mute></vg-mute>
                        <vg-volume></vg-volume>

                        <vg-fullscreen></vg-fullscreen>
                      </vg-controls>
                      <video [vgMedia]="media" #media id="singleVideo" (play)="saveVideo(section)" class="video-class" preload="auto" poster="{{lesson.lesson_icon}}">
                        <source src="{{section?.mediaURI}}" type="video/mp4">
                      </video>
                    </vg-player>
                    <!--<video controls="controls" preload="metadata" (play)="saveVideo(section)" (ended)="videoEnd(section)" webkit-playsinline="webkit-playsinline"
                      class="videoPlayer full-width border-lightgray">
                      <source src="{{section?.mediaURI}}" type="video/mp4" />
                    </video>-->
                    <div class="download-offline-button"><span><ion-icon ios="ios-download-outline" md="md-download" (click)="downLoadOffline(section)"></ion-icon></span></div>
                    <!--<span *ngIf="section.downloading" style="float: right; display: inline-block">{{downloadedData}}%</span>
                    <div *ngIf="section.downloading" style="float: right; display: inline-block">Syncing for offline use
                      <img src="assets/img/sync.gif"
                           style="display: inline-block; height: 15px; width: 15px; vertical-align: text-top">
                    </div>-->
                  </ion-col>
                </ion-row>
                <ion-row style="margin-top: 20px;">
                  <ion-col class="text-medium assertive">
                    {{topic.topic_name}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="text-medium dark">
                    {{lesson.lesson_title}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="dark text-normal justify">
                    <div>{{section?.section_description}}</div>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="section.imageURI">
                  <ion-col>
                    <lazy-img src="{{section?.imageURI}}"></lazy-img>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="i == lsections.length - 1">
                  <ion-fab style="right:10px">
                    <button ion-fab color="searchPink" (click)="presentModal()">
                      <ion-icon name="md-share"></ion-icon>
                    </button>
                  </ion-fab>
                </ion-row>
              </div>
            </ion-col>
            <ion-col width-34 [ngStyle]="contentScroll" class="video-list padding-top-10">
              <ion-list>
                <ion-grid class="light-bg">
                  <ion-row>
                    <ion-col class="text-medium dark border-bottom-lightgray">
                      {{topic?.topic_name}}
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-grid class="light-bg" *ngFor="let otherlesson of otherLessons" (click)="showLesson(otherlesson)">
                  <ion-row>
                    <ion-col class="dark thin">
                      {{otherlesson?.lesson_title}}
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="otherlesson?.lesson_icon">
                    <ion-col width-100 class="dark thin">
                      <lazy-img src="{{otherlesson?.lesson_icon}}"></lazy-img>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="!otherlesson?.lesson_icon">
                    <ion-col width-100 class="dark thin">
                      <div [ngStyle]="{'background-image':'url(assets/img/lesson_icon.png)'}" class="lesson-thumb contain border-lightgray"></div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="lsections && !lsections.length">
      <ion-grid>
        <ion-row>
          <ion-col>
            Lesson is not availble offline. Please connect to internet to view lesson.
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>