page-lesson {
.splash-bg {
    position: relative;
    background: url('../assets/img/scenary.jpg') no-repeat transparent;
    background-size: cover;
    height: 100%;
    z-index: 1;
    animation: animatedBackground 40s linear infinite;
  }
  .parent-card{
      background: rgb(232,232,232);
  }
  .video-list{
      ion-list{
          box-shadow: 1px 1px 2px #aaa;;
      }
      ion-item{
          border:none !important;
          padding-left: 8px!important;

          ion-thumbnail{
              margin: 8px 8px 8px 0!important;
          }
      }
  }
  .lesson-thumb{
        width:160px;
        height:90px;
    }
    .download-offline-button {
        font-size: 20px;
        width: 100%;
        text-align: right;
    }
    .video-class{
        height: 100%;
        width: 100%;
    }
}
