<ion-content class="no-header" [ngStyle]="{'background-image': 'url('+book_bg+')'}">
  <div class="bg-overlay padding-top-0">

    <ion-grid>
      <ion-row center style="height:70px;">
        <ion-col width-60 offset-20 class=" light book-title text-center">
          <span class="">Share</span><br>
          <span class="text-large bold">{{lesson?.lesson_title}}</span>
        </ion-col>
        <ion-col width-20 class="text-large text-right">
          <button ion-button icon-only round color="light" (click)="dismiss()" style="width:45px">
            <ion-icon name="md-close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card class="parent-card">
      <ion-card-content [ngStyle]="cardHeight">
        <ion-grid class="share-card" [ngStyle]="contentScroll">
          <ion-row *ngFor="let section of lsections">
            <ion-col width-20>
              <img src="{{section?.imageURI}}" *ngIf="section.imageURI">
            </ion-col>
            <ion-col width-80>
              <ion-row>
                <ion-col class="gray">
                  {{section?.section_description}}
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!--<ion-grid>-->
          <!--<ion-row>-->
            <!--<ion-col class="card">-->
              <!--Enter a phone no. or e-mail ID-->
            <!--</ion-col>-->
          <!--</ion-row>-->
        <!--</ion-grid>-->
        <!--<ion-list>-->
          <!--<ion-item>-->
            <!--<ion-input type="text" value="" placeholder="Enter a mobile no. or email ID"></ion-input>-->
          <!--</ion-item>-->
        <!--</ion-list>-->
        <ion-grid>
          <ion-row>
            <ion-col class="text-center">
              <button class="share-button" ion-button color="primary" (click)="openSharingOpts()">Share</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>