page-share-modal {
.splash-bg {
    position: relative;
    background: url('../assets/img/scenary.jpg') no-repeat transparent;
    background-size: cover;
    height: 100%;
    z-index: 1;
    animation: animatedBackground 40s linear infinite;
  }
  .parent-card{
    background: rgb(232,232,232);
    width:70%;
    margin: auto;
    // margin-bottom: 20px;
  }
  ion-item{
    border: 1px solid lightgray!important;
    border-radius: 5px!important;
  }
  .share-button{
      min-width: 150px;
  }
  .share-card{
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #aaa;
  }
}
