<div class="sidemenu-vertical-strip" menuToggle></div>

<ion-content class="no-header sidemenu-strip-offset" [ngStyle]="{'background-image': 'url('+preferences?.background+')'}">
  <div class="bg-overlay" [ngStyle]="{'min-height':devHeight+'px'}">
    <ion-grid>
      <ion-row center style="height:70px">
        <ion-col width-50 class="text-large">
          <!--<button ion-button icon-only round color="light" menuToggle style="width:45px">
            <ion-icon name="ios-menu"></ion-icon>
          </button>-->
        </ion-col>
        <ion-col width-50 class="light text-right padding-right-15">
          <span class="text-large bold">Subscriptions</span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card class="parent-card" [ngStyle]="contentHeight">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="assertive bold" *ngIf="!activePlan">
              You have no active subscription
            </ion-col>
            <ion-col class="assertive bold" *ngIf="activePlan">
              You are subscribed to {{activePlan.subscription_title}} plan
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="text-large gray" *ngIf="!activePlan">
              Select a plan that is right for you
            </ion-col>
            <ion-col class="text-large gray" *ngIf="activePlan">
              Select a plan if you want to change or resubscribe
            </ion-col>
          </ion-row>
          <ion-row center>
            <ion-col width-20>
            </ion-col>
            <ion-col width-20 class="padding-0" *ngFor="let plan of plans; let i =index">
              <div class="subs-image-div" [ngClass]="{'active': plan?.selected}" (click)="selectPlan(i)">
                <div>
                  <img src="{{plan?.subscription_thumb}}">
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row center>
            <ion-col width-20>
            </ion-col>
            <ion-col width-20 class="text-center dark text-small" *ngFor="let plan of plans; let i =index">
              <p>{{plan.subscription_title}}</p>
              <p>UGX {{plan.subscription_amount}}</p>
              <p>{{plan.subscription_duration}} days</p>
            </ion-col>
          </ion-row>
          <!--<ion-row center class="padding-top-10 padding-bottom-10 border-top-gray border-bottom-gray">-->
          <!--<ion-col width-40 class="gray">-->
          <!--Select a plan-->
          <!--</ion-col>-->
          <!--<ion-col width-20 class="text-center dark text-large">-->
          <!--<ion-icon name="ios-radio-button-off"></ion-icon>-->
          <!--</ion-col>-->
          <!--<ion-col width-20 class="text-center dark text-large">-->
          <!--<ion-icon name="ios-radio-button-off"></ion-icon>-->
          <!--</ion-col>-->
          <!--<ion-col width-20 class="text-center dark text-large">-->
          <!--<ion-icon name="ios-radio-button-off"></ion-icon>-->
          <!--</ion-col>-->
          <!--</ion-row>-->
          <ion-row *ngIf="activePlan">
            <ion-col>
              Your subscription ends on
              {{activePlan.subscriptionDate.getTime() + activePlan.subscription_duration*24*60*60*1000|date:'dd/MM/yyyy'}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="text-center">
              <button ion-button color="primary" class="submit-button" (click)="choosePayment()">Continue</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>