page-subscription {
.splash-bg {
    position: relative;
    background: url('../assets/img/scenary.jpg') no-repeat transparent;
    background-size: cover;
    height: 100%;
    z-index: 1;
    animation: animatedBackground 40s linear infinite;
  }
.parent-card{
        background: rgba(232,232,232,0.9);
        width:80%;
        margin: auto;
        // margin-bottom: 20px;
        ion-item{
                box-shadow: 1px 1px 2px #aaa;
                margin: 5px 0;
        }
    }
    .social-button{
        width:230px;
    }
    .main-container{
        width: 300px;
        display: block;
        margin: auto;
    }
    .subs-image-div.active{
        width: 70px;
        height: 70px;
        display: block;
        margin: auto;
        border: 2px solid rgb(71,86,168);
        padding: 3px;
    }
    .subs-image{
        width: 60px;
        height: 60px;
        background: rgb(71,86,168);
        color: white;
        display: block;
        margin: auto;
        text-align: center;
        line-height: 60px;
    }
    .submit-button{
        min-width: 100px;
    }
}
