page-terms {
.splash-bg {
    position: relative;
    background: url('../assets/img/scenary.jpg') no-repeat transparent;
    background-size: cover;
    height: 100%;
    z-index: 1;
    animation: animatedBackground 40s linear infinite;
  }
.parent-card{
        background: rgba(232,232,232,0.9);
        width:80%;
        margin: auto;
        // margin-bottom: 20px;
        
        ion-card-content{
            padding: 5px!important;
        }
    }
    
    .main-container{
        width: 300px;
        display: block;
        margin: auto;
    }
    
    .header-pink{
        color: rgb(164,49,79);
    }
}
