page-profile {
.splash-bg {
    position: relative;
    background: url('../assets/img/scenary.jpg') no-repeat transparent;
    background-size: cover;
    height: 100%;
    z-index: 1;
    animation: animatedBackground 40s linear infinite;
  }
    .parent-card{
        background: rgba(232,232,232,0.9);
        width:70%;
        margin: auto;
        // margin-bottom: 20px;
    }
    .social-button{
        width:230px;
    }
    .main-container{
        width: 300px;
        display: block;
        margin: auto;
    }
    .signup-form{
        ion-item{
            background: transparent!important;
            border: none!important;
            border-bottom: 1px solid gray!important;
        }
    }
    .profile-image{
        img{
            width:60px;
            height:60px;
            border-radius: 50%;
            display: block;
            margin:auto;
        }
    }
}
