<ion-content class="no-header" [ngStyle]="{'background-image': 'url('+preferences?.background+')'}">
  <div class="bg-overlay padding-top-0">
    <ion-grid>
      <ion-row center style="height:70px">
        <ion-col width-50 class="text-large">
          <button ion-button icon-only (click)="goBack()" class="transparent-bg">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </button>
        </ion-col>
        <ion-col width-50 class="light text-right padding-right-15">
          <span class="text-large bold">Profile</span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card class="parent-card">
      <ion-card-content>
        <ion-grid class="main-container">
          <form (ngSubmit)="updateProfile(profileForm)" novalidate #profileForm="ngForm">
            <ion-row>
              <ion-col>
                <ion-row>
                  <ion-col class="text-center profile-image">
                    <img src="{{userProfile.profile_picture||'assets/img/user_avatar.png'}}">
                  </ion-col>
                </ion-row>
                <ion-list class="signup-form">
                  <ion-item>
                    <ion-input type="text" value="" placeholder="Name" name="full_name"
                               [(ngModel)]="userProfile.full_name" required #full_nameField="ngModel">>
                    </ion-input>
                  </ion-item>
                  <ion-item class="error-message"
                            *ngIf="full_nameField.touched && full_nameField.invalid">
                    <p class="error">Name is required</p>
                  </ion-item>
                  <ion-item>
                    <ion-input type="number" value="" placeholder="Mobile No." name="phone"
                               [(ngModel)]="userProfile.phone"
                               required minlength="10" maxlength="10" #phoneField="ngModel"></ion-input>
                  </ion-item>
                  <ion-item class="error-message"
                            *ngIf="phoneField.touched && phoneField.invalid">
                    <p class="error">Please enter a valid phone number</p>
                  </ion-item>
                  <ion-item>
                    <ion-input type="email" value="" placeholder="Email" name="email" [(ngModel)]="userProfile.email"
                               required pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"
                               #emailField="ngModel" [disabled]="!canEdit"></ion-input>
                  </ion-item>
                  <ion-item class="error-message"
                            *ngIf="emailField.touched && emailField.invalid">
                    <p class="error">Please enter a valid email</p>
                  </ion-item>
                  <ion-item *ngIf="canEdit">
                    <ion-input #passwordField="ngModel" required minlength="6"
                               name="password" type="password" placeholder="Password"
                               [(ngModel)]="userProfile.password"></ion-input>
                  </ion-item>
                  <ion-item class="error-message"
                            *ngIf="passwordField && passwordField.invalid && passwordField.touched">
                    <p class="error">Your password needs more than 6 characters.</p>
                  </ion-item>
                  <ion-item *ngIf="canEdit">
                    <ion-input #passwordField2="ngModel" required
                               name="password2" type="password" placeholder="Repeat Password"
                               [(ngModel)]="password2"></ion-input>
                  </ion-item>
                  <ion-item class="error-message"
                            *ngIf="password2 && userProfile.password!=password2">
                    <p class="error">Password mismatch</p>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="canEdit">
              <ion-col class="text-center">
                <button ion-button color="primary" block type="submit"
                        [disabled]="profileForm.invalid || password2 && userProfile.password!=password2">
                  Update Profile
                </button>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="!canEdit">
              <ion-col class="text-center">
                <button ion-button color="primary" block type="submit"
                        [disabled]="profileForm.invalid">
                  Update Profile
                </button>
              </ion-col>
            </ion-row>
          </form>
        </ion-grid>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>