<div class="sidemenu-vertical-strip" menuToggle></div>

<ion-content class="no-header sidemenu-strip-offset" [ngStyle]="{'background-image': 'url('+preferences?.background+')'}">
  <div class="bg-overlay" [ngStyle]="{'min-height':devHeight+'px'}">
    <ion-grid>
    <ion-row center style="height:70px">
      <ion-col width-50 class="text-large">
        <!--<button ion-button icon-only round color="light" menuToggle style="width:45px">
          <ion-icon name="ios-menu"></ion-icon>
        </button>-->
      </ion-col>
      <ion-col width-50 class="light text-right padding-right-15">
        <span class="text-large bold">Help</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="parent-card" [ngStyle]="contentHeight">
    <ion-card-content>
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col class="header-pink text-large">
                Using MyLib
              </ion-col>
            </ion-row>
            <!--<ion-row>-->
              <!--<ion-col class="dark text-medium">-->
                <!--Downloading to your device-->
              <!--</ion-col>-->
            <!--</ion-row>-->
            <ion-row>
              <ion-col class="gray">
                {{preferences?.help}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <!--<ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col class="header-pink text-large">
                Help Topic Heading 2
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="dark text-medium">
                Help Topic Sub-heading 2
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="gray">
                Lorem ipsum dolor asdud Lorem ipsum dolor asdud Lorem ipsum dolor asdud Lorem ipsum dolor asdud 
                Lorem ipsum dolor asdud Lorem ipsum dolor asdud Lorem ipsum dolor asdud Lorem ipsum dolor asdud Lorem ipsum dolor asdud 
                Lorem ipsum dolor asdud Lorem ipsum dolor asdud Lorem ipsum dolor asdud Lorem ipsum dolor asdud 
                Lorem ipsum dolor asdud 
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>-->
    </ion-card-content>
  </ion-card>
  </div>
  
</ion-content>