<div class="sidemenu-vertical-strip" menuToggle></div>

<ion-content class="no-header" [ngStyle]="{'background-image': 'url('+preferences?.background+')'}">
  <div class="bg-overlay padding-top-0" [ngStyle]="{'min-height':devHeight+'px'}">
  <ion-grid>
    <ion-row center style="height:70px">
      <ion-col width-50 class="text-large">
        <button ion-button icon-only (click)="goBack()" class="transparent-bg">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </button>
      </ion-col>
      <ion-col width-50 class="light text-right padding-right-15">
        <span class="text-large bold">License</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="parent-card">
    <ion-card-content>
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col class="header-pink text-large">
                License 
              </ion-col>
            </ion-row>
            <!--<ion-row>-->
              <!--<ion-col class="dark text-medium">-->
                <!--License Subheading-->
              <!--</ion-col>-->
            <!--</ion-row>-->
            <ion-row>
              <ion-col class="gray">
                {{preferences?.licences}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <!--<ion-card>-->
        <!--<ion-card-content>-->
          <!--<ion-grid>-->
            <!--<ion-row>-->
              <!--<ion-col class="header-pink text-large">-->
                <!--License Topic Heading 2-->
              <!--</ion-col>-->
            <!--</ion-row>-->
            <!--<ion-row>-->
              <!--<ion-col class="dark text-medium">-->
                <!--License Topic Sub-heading 2-->
              <!--</ion-col>-->
            <!--</ion-row>-->
            <!--<ion-row>-->
              <!--<ion-col class="gray">-->
                <!--Lorem ipsum dolor asdud Lorem ipsum dolor asdud Lorem ipsum dolor asdud Lorem ipsum dolor asdud -->
                <!--Lorem ipsum dolor asdud Lorem ipsum dolor asdud Lorem ipsum dolor asdud Lorem ipsum dolor asdud Lorem ipsum dolor asdud -->
                <!--Lorem ipsum dolor asdud Lorem ipsum dolor asdud Lorem ipsum dolor asdud Lorem ipsum dolor asdud -->
                <!--Lorem ipsum dolor asdud -->
              <!--</ion-col>-->
            <!--</ion-row>-->
          <!--</ion-grid>-->
        <!--</ion-card-content>-->
      <!--</ion-card>-->
    </ion-card-content>
  </ion-card>
    </div>

</ion-content>