<div class="sidemenu-vertical-strip" menuToggle></div>

<ion-content class="no-header sidemenu-strip-offset" [ngStyle]="{'background-image': 'url('+preferences.background+')'}">
  <div class="bg-overlay padding-top-0" [ngStyle]="{'min-height':devHeight+'px'}">
    <ion-grid>
      <ion-row center style="height:70px">
        <ion-col width-50 class="text-large">
          <!--<button ion-button icon-only round color="light" menuToggle style="width:45px">
            <ion-icon name="ios-menu"></ion-icon>
            </button>-->
        </ion-col>
        <ion-col width-50 class="light text-right padding-right-15">
          <span class="text-large bold">Settings</span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card class="parent-card">
      <ion-card-content>
        <ion-list class="main-container">
          <ion-item (click)="openProfile()">
            <ion-icon name="md-person" item-left class="positive"></ion-icon>
            Profile
            <button ion-button clear item-right class="searchPink">Edit</button>
          </ion-item>
          <ion-item (click)="openLicense()">
            <ion-icon name="ios-document" item-left class="positive"></ion-icon>
            Licenses
            <button ion-button clear item-right class="searchPink">View</button>
          </ion-item>
          <ion-item (click)="openTerms()">
            <ion-icon name="ios-clipboard" item-left class="positive"></ion-icon>
            Terms and Conditions
            <button ion-button clear item-right class="searchPink">View</button>
          </ion-item>
          <ion-item (click)="openPrivacy()">
            <ion-icon name="ios-lock" item-left class="positive"></ion-icon>
            Privacy Policy
            <button ion-button clear item-right class="searchPink">View</button>
          </ion-item>
          <ion-item>
            <ion-icon name="ios-help-circle" item-left class="positive"></ion-icon>
            Feedback
            <button ion-button clear item-right class="searchPink">View</button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>