<ion-content class="no-header" [ngStyle]="{'background-image': 'url('+preferences?.background+')'}">
  <div class="bg-overlay padding-top-0">
    <ion-grid>
      <ion-row center style="height:70px">
        <ion-col width-10 class="text-large">
          <button ion-button icon-only (click)="goBack()" class="transparent-bg">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card class="parent-card">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="text-large searchPink text-center">
              Log in to My Lib
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="main-container">
          <ion-row>
            <ion-col class="text-center padding-0">
              <button ion-button icon-left color="facebook" class="social-button" (click)="fbLogin()">
               <ion-icon name="logo-facebook"></ion-icon>
              Login with Facebook
              </button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="text-center padding-0">
              <button ion-button icon-left color="googlePlus" class="social-button" (click)="googleLogin()">
               <ion-icon name="logo-google"></ion-icon>
              Login with Google
              </button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="text-large gray text-center">
              OR
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-list class="border-lightgray">
                <form [formGroup]="loginForm" novalidate>
                  <ion-item class="border-bottom-lightgray">
                    <ion-input formControlName="email" type="email" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.touched"
                      value="" placeholder="Email or Phone" [(ngModel)]="accountInfo.email"></ion-input>
                  </ion-item>
                  <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.touched">
                    <p class="error">Required</p>
                  </ion-item>
                  <ion-item>
                    <ion-input formControlName="password" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.touched"
                      type="password" value="" placeholder="Password" [(ngModel)]="accountInfo.password"></ion-input>
                  </ion-item>
                  <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.touched">
                    <p class="error">Should be more than 6 characters.</p>
                  </ion-item>
                </form>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="text-center">
              <button ion-button color="primary" block type="button" (click)="signin()">
              Sign In
              </button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="positive text-center" (click)="resetPassword()">
              Forgot Password
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="positive text-center dark">
              Don't have an account? <span class="positive" (click)="signup()">Sign Up</span>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>