// http://ionicframework.com/docs/v2/theming/
@import "standard";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.no-header .scroll-content{
  margin-top: 0!important;
  top: 0 !important;
}
.sidemenu{
  background-color: rgb(48,46,129);

  .scroll-content{
    display: table;
    width: 100%;
    height: 100%;
  }
  ion-list{
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0!important;
  }
  ion-item{
    background: transparent!important;
    ion-label{
      padding-left: 40px;
      margin:0;
      
      button{
        font-size: 1em!important;
      }
    }
  }
}
.transparent-header{
  background-color: transparent;

  .toolbar-background {
    background-image: none;
    border: none;
  }

  .highlight-button{
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 2px;
    width: 40px;
    text-align: center;
  }
}

.page-title{
  text-align: right;
  font-size: 20px;
  color: white;
  padding: 20px;
}
.search-width{
  width: 250px;
}
.text-shadow{
  text-shadow: 1px 1px #444;
}
// .menu-inner{
//   width: 250px;
// }

.sidemenu-vertical-strip{
  width: 3%;
  background-color: #302e81;
  height: 100%;
}

.sidemenu-strip-offset{
  left:3%;
  width:97%;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  padding-bottom: 20px;
  padding-top:20px;
}


  .margin-top-50{
    margin-top: 50px;
  }

.search-item-border{
  border:none!important;
  border-bottom: 1px solid #d3d3d3!important;
}
.searchPink{
  color:rgb(255,0,121);
}
