<ion-content class="no-header" [ngStyle]="{'background-image': 'url('+preferences?.background+')'}">
  <div class="bg-overlay">
    <ion-grid class="absolute">
      <ion-row center style="height:70px">
        <ion-col width-10 class="text-large">
          <button ion-button icon-only round color="light" (click)="goBack()" style="width:45px">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card class="parent-card">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="text-large searchPink text-center">
              Forgot Password
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="main-container">
          <form [formGroup]="resetForm" (submit)="send(email)" novalidate>
            <ion-row>
              <ion-col>
                <ion-list class="signup-form">
                  <ion-item>
                    <ion-input type="email" value="" formControlName="email" placeholder="Email"
                               [class.invalid]="!resetForm.controls.email.valid && resetForm.controls.email.touched"
                               [(ngModel)]="email"></ion-input>
                  </ion-item>
                  <ion-item class="error-message"
                            *ngIf="!resetForm.controls.email.valid  && resetForm.controls.email.touched">
                    <p class="error">Please enter a valid email.</p>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="text-center">
                <button ion-button color="primary" block type="submit">
                  Send
                </button>
              </ion-col>
            </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>