page-home2 {
  .splash-bg {
    position: relative;
    background: url('../assets/img/scenary.jpg') no-repeat transparent;
    background-size: cover;
    height: 100%;
    z-index: 1;
    animation: animatedBackground 40s linear infinite;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }


  button.login {
    margin-top: 25px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }

  .library-book{
    width: 200px;
    display: inline-block;
    overflow:hidden;
    margin-right: 0;
    img{
        height: 120px;
        max-height: 120px;
        overflow:hidden;
      }
    ion-card-content{
      padding: 5px;
      background-color: rgb(49,72,80);
    
      ion-card-title{
        padding: 0;
        color: white!important;
      }
      p{
        color: white!important;
      }
    }
    
  }
  .grid-header {
    position: fixed;
    overflow: hidden;
    z-index: 2;
    top: 0;
  }
  .main-data {
    position: static;
    // padding-top: 75px; 
    
  }
  ion-scroll{
    min-height: 200px;
    white-space: nowrap;
    overflow: scroll;
    ion-card{
      margin-top:0!important;
    }
  }
  .search-backdrop{
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
  }
  .border-top-none{
    border-top: none!important;
  }
}
