<div class="sidemenu-vertical-strip" menuToggle></div>

<ion-content id="home-div" class="no-header sidemenu-strip-offset" 
[ngStyle]="{'background-image': 'url('+preferences.background+')'}">
  <!--<img-cache [icBg]="preferences?.background" [ngStyle]="{'min-height':devHeight+'px'}" ></img-cache>-->
  <div class="bg-overlay padding-top-0" [ngStyle]="{'min-height':devHeight+'px'}">


    <ion-grid>
      <ion-row center style="height:70px">

        <ion-col width-50 class="light padding-right-15">
          <span class="text-large bold">Library</span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngFor="let subject of subjects" class="main-data">
      <ion-grid>
        <ion-row>
          <ion-col class="text-large light thin text-shadow">{{subject?.subject_name}}</ion-col>
        </ion-row>
      </ion-grid>
      <ion-scroll scrollX="true">
        <ion-card class="library-book" (click)="openBook(book)" *ngFor="let book of subject?.books">

          <lazy-img [src]="book?.book_thumb"></lazy-img>
          <ion-card-content>
            <ion-card-title class="text-normal">
              {{book?.book_title}}
            </ion-card-title>
            <p>
              {{book?.views}} views
            </p>
          </ion-card-content>
        </ion-card>
      </ion-scroll>
    </div>
  </div>
</ion-content>
<ion-grid class="grid-header">
  <ion-row [ngStyle]="fullHeight">
    <ion-col class="relative">
      <ion-fab style="top: 5px;right:20px" >
        <button ion-fab color="searchPink" (click)="toggleSearch()">
              <ion-icon name="search"></ion-icon>
            </button>
        <ion-fab-list side="left" [ngStyle]="fullWidth">
          <ion-list class="margin-bottom-0" [ngStyle]="fullWidth">
            <ion-item class="transparent-bg light border-top-none" [ngStyle]="fullWidth">
              <ion-input placeholder="Search"  (keyup)="getItems($event)" [(ngModel)]="randomHome"></ion-input>
            </ion-item>
            <div *ngIf="showResults">
              <ion-item (click)="openItem(item)" *ngFor="let item of currentItems" [ngStyle]="fullWidth">
                    <ion-avatar item-left *ngIf="item.pic">
                      <lazy-img [src]="item?.pic"></lazy-img>
                    </ion-avatar>
                    <h3 class="text-small">{{item?.name}}</h3>
                    <p class="text-x-small">{{item?.about}}</p>
                    <!--<ion-note item-right *ngIf="item.category">{{item.category}}</ion-note>-->
              </ion-item>
            </div>
          </ion-list>
        </ion-fab-list>
      </ion-fab>
    </ion-col>
  </ion-row>
</ion-grid>

<div class="search-backdrop" *ngIf="searchOpen" [ngStyle]="backdrop"></div>