<ion-content class="no-header">
  <div class="bg-overlay">


    <ion-grid>
      <ion-row center style="height:70px">
        <ion-col width-50 class="text-large">
          <button ion-button icon-only round color="light" (click)="goBack()" style="width:45px">
            <ion-icon name="ios-arrow-back"></ion-icon>
            </button>
        </ion-col>
        <ion-col width-50 class="light text-right padding-right-15">
          <span class="text-large bold">Complete Transaction</span>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-card class="parent-card">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="text-center text-large gray">
              Enter the phone no. that will be used to complete the transaction
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-list>
          <ion-item>
            <ion-input type="text" value="" placeholder="Enter your mobile no."></ion-input>
          </ion-item>
        </ion-list>
        <ion-grid>
          <ion-row>
            <ion-col class="text-center">
              <button class="share-button" ion-button color="primary">Submit</button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>


  </div>
</ion-content>