page-enter-phone {
.splash-bg {
    position: relative;
    background: url('../assets/img/scenary.jpg') no-repeat transparent;
    background-size: cover;
    height: 100%;
    z-index: 1;
    animation: animatedBackground 40s linear infinite;
  }
.parent-card{
        background: rgba(232,232,232,0.9);
        width:80%;
        margin: auto;
        // margin-bottom: 20px;
        ion-item{
                box-shadow: 1px 1px 2px #aaa;
                margin: 5px 0;
        }
    }
    .social-button{
        width:230px;
    }
    .main-container{
        width: 300px;
        display: block;
        margin: auto;
    }
    .network{
        width:80px;
        height:80px;
        display: block;
        margin: auto;
        padding:5px;

        &.selected{
            border: 2px solid #387ef5;
            padding:3px;
        }
    }
    .submit-button{
        min-width: 100px;
    }
}
