<ion-content class="no-header" [ngStyle]="{'background-image': 'url('+localbg+')'}">
  <div class="bg-overlay padding-top-0" [ngStyle]="{'height':devHeight+'px'}">

    <ion-grid>
      <ion-row center style="height:70px">
        <!--<ion-col width-10 class="text-large text-center">
          <button ion-button icon-only (click)="goBack()" class="transparent-bg">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </button>
        </ion-col>-->
        <ion-col width-50 class="text-large bold light book-title padding-bottom-10" (click)="goBack()">
          {{book.book_title}}
        </ion-col>
        <ion-col class="relative">
          <ion-fab style="top: -20px;right:10px">
            <button ion-fab color="searchPink">
              <ion-icon name="search"></ion-icon>
            </button>
            <ion-fab-list side="left">
              <ion-list class="margin-bottom-0">
                <ion-item class="transparent-bg light">
                  <ion-input placeholder="Search" [ngStyle]="halfWidth" (keyup)="getItems($event)" [(ngModel)]="randombook"></ion-input>
                </ion-item>
                <ion-list *ngIf="showResults" [ngStyle]="searchResults">
                  <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
                    <ion-avatar item-left *ngIf="item.pic">
                      <!--<img [src]="item?.pic" />-->
                      <lazy-img [src]="item?.pic"></lazy-img>
                    </ion-avatar>
                    <h2>{{item?.name}}</h2>
                    <p>{{item?.about}}</p>
                    <ion-note item-right *ngIf="item.category">{{item.category}}</ion-note>
                  </button>
                </ion-list>
              </ion-list>
            </ion-fab-list>
          </ion-fab>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card class="parent-card" [ngStyle]="contentHeight">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col width-50 *ngIf="topicsCount || lessonsCount">
              <ion-row>
                <ion-col class="text-large">Curriculum</ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="gray">{{topicsCount}} topics</ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="gray padding-top-0">{{lessonsCount}} lessons</ion-col>
              </ion-row>
            </ion-col>
            <ion-col *ngIf="!topicsCount && !lessonsCount">
              Book details is not availble offline. Please connect to internet to view book details.
            </ion-col>
            <ion-col width-50>
              <ion-row>
                <ion-col class="text-large">Description</ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="gray">{{book.book_description}}
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div *ngFor="let term of tt">
          <ion-grid>
            <ion-row>
              <ion-col class="dark text-large term-icon">
                <lazy-img src="{{book.termsIcon}}"></lazy-img>
                <!--<img src="{{book.termsIcon || 'assets/img/termsIcon.png'}}">-->
                Term {{term.number}}
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-scroll scrollX="true" style="min-height: 245px">
            <ion-grid>
              <ion-row style="flex-wrap: nowrap">
                <ion-col width-50 *ngFor="let topic of term.topics">
                  <ion-row>
                    <ion-col class="gray border-bottom-gray text-medium">
                      {{topic.topic_name}}
                    </ion-col>
                  </ion-row>
                  <ion-list style="max-height: 200px;overflow-y:scroll">
                    <ion-item class="transparent-bg searchPink margin-bottom-0 bullet-item" (click)="openLesson(lesson, topic)" *ngFor="let lesson of topic.lessons">
                      <div class="absolute gray-circle-icon"></div>
                      <p [ngStyle]="{'color': subject?.subject_color}">{{lesson.lesson_title}}</p>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-scroll>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>