page-book {
.splash-bg {
    position: relative;
    background: url('../assets/img/scenary.jpg') no-repeat transparent;
    background-size: cover;
    height: 100%;
    z-index: 1;
    animation: animatedBackground 40s linear infinite;
  }
  .parent-card{
      background: rgb(232,232,232);
  }
  .book-title{
  }
  ion-item{
      ion-icon.gray{
        font-size: 16px!important;
        line-height: 30px!important;
      }
  }
  .term-icon{
      height: 70px;
      padding-left:85px;
      line-height: 60px;
      img{
        height:60px;
        width:60px;
        position: absolute;
        left: 10px;
      }
  }
  .margin-bottom-0{
      ion-label{
          margin-bottom:0;
      }
  }
  .bullet-item{
      ion-label{
          padding-left: 15px;
      }
  }
  .gray-circle-icon{
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: #aaa;
    top: 24px;
    left: 10px;
  }
  
}
