<ion-content class="no-header" [ngStyle]="{'background-image': 'url('+preferences?.background+')'}">
  <div class="bg-overlay padding-top-0">
    <ion-grid>
      <ion-row center style="height:70px">
        <ion-col width-10 class="text-large">
          <button ion-button icon-only (click)="goBack()" class="transparent-bg">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card class="parent-card">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="text-large searchPink text-center">
              Sign Up for My Lib
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="main-container">
          <form (ngSubmit)="signup(form)" novalidate #form="ngForm">
            <ion-row>
              <ion-col>
                <ion-list class="signup-form">
                  <ion-item>
                    <ion-input [class.invalid]="full_nameField.touched && full_nameField.invalid" type="text"
                               name="full_name" placeholder="Name"
                               [(ngModel)]="userInfo.full_name" required #full_nameField="ngModel"></ion-input>
                  </ion-item>
                  <ion-item class="error-message"
                            *ngIf="full_nameField.touched && full_nameField.invalid">
                    <p class="error">Name is required</p>
                  </ion-item>
                  <ion-item>
                    <ion-input #phoneField="ngModel" [class.invalid]="phoneField.touched && phoneField.invalid" required
                               minlength="10" maxlength="10"
                               type="tel" name="phone" placeholder="Mobile No."
                               [(ngModel)]="userInfo.phone"></ion-input>
                  </ion-item>
                  <ion-item class="error-message" *ngIf="phoneField.touched && phoneField.invalid">
                    <p class="error">Please enter a valid mobile number</p>
                  </ion-item>
                  <ion-item>
                    <ion-input #emailField="ngModel" [class.invalid]="emailField.invalid && emailField.touched" required
                               pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"
                               type="email" name="email" placeholder="Email" [(ngModel)]="userInfo.email"></ion-input>
                  </ion-item>
                  <ion-item class="error-message" *ngIf="emailField.invalid && emailField.touched">
                    <p class="error">Please enter a valid email.</p>
                  </ion-item>
                  <ion-item>
                    <ion-input #passwordField="ngModel" [class.invalid]="passwordField.invalid && passwordField.touched"
                               required minlength="6"
                               name="password" type="password" placeholder="Password"
                               [(ngModel)]="userInfo.password"></ion-input>
                  </ion-item>
                  <ion-item class="error-message"
                            *ngIf="passwordField.invalid && passwordField.touched">
                    <p class="error">Your password needs more than 6 characters.</p>
                  </ion-item>
                  <ion-item>
                    <ion-input #passwordField2="ngModel"
                               [class.invalid]="passwordField.touched && passwordField2.touched" required
                               name="password2" type="password" placeholder="Repeat Password"
                               [(ngModel)]="password2"></ion-input>
                  </ion-item>
                  <ion-item class="error-message"
                            *ngIf="passwordField2.touched && passwordField2.value && passwordField.value!=passwordField2.value">
                    <p class="error">Password mismatch</p>
                  </ion-item>
                </ion-list>
                <ion-list>
                  <ion-item class="transparent-bg no-border">
                    <ion-label class="gray text-small">Agree to terms and conditions</ion-label>
                    <ion-checkbox #agreementField="ngModel" name="agreement" name="checkbox" color="searchPink"
                                  checked="false" [(ngModel)]="agreement"></ion-checkbox>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="text-center">
                <button ion-button color="primary" block type="submit"
                        [disabled]="form.invalid || !agreementField.value || passwordField.value!=passwordField2.value">
                  Sign Up
                </button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="positive text-center dark">
                Already have an account? <span class="positive" type="button"
                                               (click)="goBack()">Sign In</span>
              </ion-col>
            </ion-row>
          </form>
        </ion-grid>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>