<ion-content class="no-header" [ngStyle]="{'background-image': 'url('+preferences?.background+')'}">
  <div class="bg-overlay">
    <ion-grid>
      <ion-row center style="height:70px">
        <ion-col width-50 class="text-large">
          <button ion-button icon-only round color="light" (click)="goBack()" style="width:45px">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </button>
        </ion-col>
        <ion-col width-50 class="light text-right padding-right-15">
          <span class="text-large bold">Card Details</span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card class="parent-card">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="text-large searchPink text-center">
              Enter your card details
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="main-container">
          <form (ngSubmit)="checkout(form)" novalidate #form="ngForm">
            <ion-row>
              <ion-col>
                <ion-list class="signup-form">
                  <ion-item>
                    <ion-input #emailField="ngModel" required
                               pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"
                               type="email" name="email" placeholder="Email" [(ngModel)]="email" [disabled]="true"></ion-input>
                  </ion-item>
                  <ion-item class="error-message" *ngIf="emailField.invalid && emailField.touched">
                    <p class="error">Please enter a valid email.</p>
                  </ion-item>
                  <ion-item>
                    <ion-input type="number" name="card number" placeholder="Card Number"
                               [(ngModel)]="card.number" required #cardNumberField="ngModel"></ion-input>
                  </ion-item>
                  <ion-item class="error-message"
                            *ngIf="cardNumberField.touched && cardNumberField.invalid">
                    <p class="error">Card number is required</p>
                  </ion-item>
                  <ion-item>
                    <ion-input #expMonthField="ngModel" required
                               minlength="2" maxlength="2"
                               type="tel" name="expMonth" placeholder="00"
                               [(ngModel)]="card.expMonth"></ion-input>
                  </ion-item>
                  <ion-item class="error-message" *ngIf="expMonthField.touched && expMonthField.invalid">
                    <p class="error">Invalid expiry month</p>
                  </ion-item>
                  <ion-item>
                    <ion-input #expYearField="ngModel" required
                               minlength="4" maxlength="4"
                               type="tel" name="expYear" placeholder="0000"
                               [(ngModel)]="card.expYear"></ion-input>
                  </ion-item>
                  <ion-item class="error-message" *ngIf="expYearField.touched && expYearField.invalid">
                    <p class="error">Invalid expiry year</p>
                  </ion-item>
                  <ion-item>
                    <ion-input #cvcField="ngModel"
                               required minlength="3" maxlength="3"
                               name="cvc" type="password" placeholder="cvc"
                               [(ngModel)]="card.cvc"></ion-input>
                  </ion-item>
                  <ion-item class="error-message"
                            *ngIf="cvcField.invalid && cvcField.touched">
                    <p class="error">Invalid CVC</p>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="text-center">
                <button ion-button color="primary" block type="submit"
                        [disabled]="form.invalid">
                  Pay
                </button>
              </ion-col>
            </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>